
@{
    ViewData["Title"] = "List";

}

<h1>List</h1>

<div class="col-sm-12">
    <form action="sortList" method="post">

        <select name="sortType">

            @if (ViewBag.SortType == "yearAsc")
            {
                <option selected value="yearAsc">Year Ascending</option>
            }
            else
            {
                <option value="yearAsc">Year Ascending</option>
            }

            @if (ViewBag.SortType == "yearDesc")
            {
                <option selected value="yearDesc">Year Descending</option>
            }
            else
            {
                <option value="yearDesc">Year Descending</option>
            }

            @if (ViewBag.SortType == "ID")
            {
                <option selected value="ID">ID</option>
            }
            else
            {
                <option value="ID">ID</option>
            }
            @if (ViewBag.SortType == "make")
            {
                <option selected value="make">Make</option>
            }
            else
            {
                <option value="make">Make</option>
            }
            @if (ViewBag.SortType == "model")
            {
                <option selected value="model">Model</option>
            }
            else
            {
                <option value="model">Model</option>
            }
            @if (ViewBag.SortType == "priceAsc")
            {
                <option selected value="priceAsc">Price Ascending</option>
            }
            else
            {
                <option value="priceAsc">Price Ascending</option>
            }
            @if (ViewBag.SortType == "priceDesc")
            {
                <option selected value="priceDesc">Price Descending</option>
            }
            else
            {
                <option value="priceDesc">Price Descending</option>
            }

            @if (ViewBag.SortType == "mileageAsc")
            {
                <option selected value="mileageAsc">Mileage Ascending</option>
            }
            else
            {
                <option value="mileageAsc">Mileage Ascending</option>
            }
            @if (ViewBag.SortType == "mileageDesc")
            {
                <option selected value="mileageDesc">Mileage Descending</option>
            }
            else
            {
                <option value="mileageDesc">Mileage Descending</option>
            }
            @if (ViewBag.SortType == "color")
            {
                <option selected value="color">Color</option>
            }
            else
            {
                <option value="color">Color</option>
            }
        </select>
        <input type="submit" class="btn btn-info" value="Sort">
    </form>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Price</th>
                <th>Miles</th>
                <th>Color</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in @Model)
            {
                <tr>
                    <td>@car.Id.ToString()</td>
                    <td>@car.Make</td>
                    <td>@car.Model</td>
                    <td>@car.Year</td>
                    <td>$@car.Price.00</td>
                    <td>@car.Mileage</td>
                    <td>@car.Color</td>
                    <td>
                        <a class="btn btn-secondary" asp-controller="Car" asp-action="Detail"
                           asp-route-id="@car.Id">View</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>


</div>

