@*@Model List<Car>*@
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
    
<div class="col-sm-12">
    <form action="List" method="post">
        <select name="sortType">
            <option value="year">Year Ascending</option>
            <option value="year">Year Descending</option>
            <option value="ID">ID</option>
            <option value="make">Make</option>
            <option value="model">Model</option>
            <option value="priceAsc">Price Ascending</option>
            <option value="priceDesc">Price Descending</option>
            <option value="mileageAsc">Mileage Ascending</option>
            <option value="mileageDesc">Mileage Descending</option>
            <option value="color">Color</option>
        </select>       
        <input type="submit" class="btn btn-info" value="Sort">
    </form>
    
    <table class="table table-bordered table-striped"
        <thead>
            <tr>
                <th>ID</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Price</th>
                <th>Miles</th>
                <th>Color</th>
                <th></th>
            </tr>
        </thead>
           <tbody>
               @foreach(var car in @Model)
               {
               <tr>
                   <td>@car.ID.ToString()</td>
                   <td>@car.Make</td>
                   <td>@car.Model</td>
                   <td>@car.Year</td>
                   <td>$@car.Price.00</td>
                   <td>@car.Mileage</td>
                   <td>@car.Color</td>
                   <td>
                       <a class="btn btn-secondary" asp-controller="Car" asp-action="Detail"
                          asp-route-id="@car.ID">View</a>
                   </td>
               </tr>
               }
           </tbody>
           
           </table>


</div>

